<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left page-text">
                <a href="#/user/actor/list/view/{{model.seriesId}}/name/{{model.seriesName}}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right page-text">
                <a href="#/user/">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

                <a href="#/user/">
                    <span>{{model.user.firstName}}&nbsp;&nbsp;&nbsp;</span>
                </a>

                <a href="" ng-click="model.logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
                <a href="" ng-click="model.logout()">
                    <span>Logout</span>
                </a>

            </div>

            <div class="navbar-header page-text">
                <a class="navbar-brand" href="#/home/login/">Showcity</a>
            </div>
        </div>
    </nav>


        <div class="col-sm-11 panel-body">
            <div class="row">
            <h3 class="col-sm-4">
                <div >
                    <span class="glyphicon glyphicon-user"></span>
                    <a ng-if="model.userId!=model.actorUser._id" href="#/user1/secondUser/{{model.actorUser._id}}">{{model.actorUser.firstName}}</a>
                </div>
            </h3>
            </div>
            <div ng-if="model.statusList.length==0" class="alert alert-warning" role="alert">
                Sorry actor {{model.actorUser.firstName}} has no status uploaded
            </div>
            <div ng-if="model.statusList.length>0" class="well" ng-repeat="status in model.statusList">
                <div class="panel-body">

                    <div class="media">

                        <!--img u="image" ng-src="../../../img/profile-icon.png" />-->



                        <div class="media-body">

                            <div></div><img ng-src="{{status.url}}" width="80%"/></div>
                        <br>

                        <div class="well well-sm col-sm-10 center-block">
                            <strong><p class="text-justify text-info">
                                {{status.description}}
                            </p></strong>
                            <small>

                                {{status.dateCreated | date : 'medium'}}
                            </small>
                        </div>
                        <div>

                        </div>

                    </div>
                </div>
            </div>



    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <a href="#/user/" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>

        </div>
    </nav>
</div>
