<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/home">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="#/user/actor/">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a href="#/user/actor/">
                <span>{{model.user.username}}&nbsp;&nbsp;&nbsp;</span>
            </a>

            <a href="" ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a href="" ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </div>

        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home/{{model.user._id}}">Showcity</a>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-8 input-group center-block">
    <h3>Please add series you are currently enacting in</h3>
        <div ng-if="model.series.length==0">
            <span class="input-group-btn">
                <input ng-model="ss" type="text" placeholder="series" class="form-control">

                <a ng-click="model.saveSeries(ss)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </span>
        </div>
        {{s}}
    <div ng-repeat="s in model.series">
       <!-- <div class="well">{{s}}</div> -->

        <span class="input-group-btn">

                <input ng-model="s1" type="text" placeholder="series" class="form-control">

                <a ng-click="model.saveSeries(s1)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </span>
        <br>
    </div>

    <br>
        <a ng-click="model.registerActor()"
           class="btn btn-warning btn-block"
        >Add Series</a>
    <a ng-click="model.createActor()"
       class="btn btn-primary btn-block"
    >Register Actor</a>
    </div>
</div>
{{model.actor}}

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a href="#/user/actor/" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>