<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/actor/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="#/user/actor/">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a href="#/user/actor/">
                <span>{{model.user.username}}&nbsp;&nbsp;&nbsp;</span>
            </a>

            <a href="" ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a href="" ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </div>

        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home/login">Showcity</a>
        </div>
    </div>
</nav>

<div class="row container">
    <div class="col-sm-6 input-group center-block">
        <div class="container-fluid">
        <h3>Please add series you are currently enacting in</h3>



                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="s in model.series">
                        {{s}}

                        <a ng-click="model.undoSeries(s,$index)" ng-if="model.confirm!='true'" class="pull-right">
                            <span class="glyphicon glyphicon-remove"></span>

                        </a>

                    </li>
                </ul>
            </div>

        <span class="input-group-btn">
                <input ng-model="model.s" ng-if="model.confirm!='true'" type="text" placeholder="series" class="form-control">

                <a ng-click="model.saveSeries(model.s)" ng-if="model.confirm!='true'" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </span>


        <br>
        <a ng-if="model.series.length>0 && model.confirm!='true'" ng-click="model.registerActor()"
           class="btn btn-warning btn-block">Confirm Series</a>
        <a ng-if="model.series.length>0 && model.confirm=='true'" ng-click="model.createActor()"
           class="btn btn-primary btn-block"
        >Register Actor</a>
    </div>
</div>






    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <a href="#/user/actor/" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>

        </div>
    </nav>