<div>
    <div class="container-fluid">
    <h2>STATUS<a href="">
        <span class="glyphicon glyphicon-sunglasses status-button-color"></span>
    </a></h2>



        <div class="col-sm-11 panel-body">
            <div class="panel-heading">

            </div>
            <div class="well" ng-repeat="status in model.statusList">
                <div class="panel-body">
                    <div ng-if="model.selectedIndex === $index">

                        <form>

                            <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Please enter status"
                              ng-model="model.editedStatusObject.description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="media">

                        <!--img u="image" ng-src="../../../img/profile-icon.png" />-->



                        <div class="media-body">

                            <p class="text-justify">
                                {{status.description}}
                            </p>
                        </div>




                        <div class="btn-group-md">
                            <a href="" class="btn btn-success" role="button"
                               ng-if="model.selectedIndex === $index"
                               ng-click="model.editStatus(model.editedStatusObject)">
                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                Update
                            </a>
                            <a href="" class="btn btn-danger" role="button"
                               ng-if="model.selectedIndex === $index"
                               ng-click="model.undoStatus()">
                                <i class="glyphicon glyphicon-erase" aria-hidden="true"></i>
                                Cancel
                            </a>
                        </div>

                        <div class="btn-group-md">
                            <a href="" class="btn btn-warning" role="button"
                               ng-if="model.selectedIndex !== $index && model.actorId == status.actorId"
                               ng-click="model.selectStatusBox($index)">
                                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                            <a href="" class="btn btn-danger" role="button"
                               ng-if="model.selectedIndex !== $index && model.actorId == status.actorId"
                               ng-click="model.deleteStatus($index)">
                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                Delete
                            </a>
                        </div>

                    </div>
                    </div>
                </div>

            <div class="well">
                <h3>Write Status</h3>

                <form>

                    <div class="form-group">

                                <textarea ng-model="model.status.description"
                                          rows="3"
                                          placeholder="Write a status"
                                          class="form-control"
                                          id="status-description"></textarea>

                        <div class="form-group">
                            <a ng-click="model.addStatus(model.status)" class="btn btn-success">
                                Submit
                            </a>
                        </div>
                    </div>
                </form>


            </div>
        </div>

        </div>





</div>
