<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/actor">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="#/user/actor">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a href="#/user/actor">
                <span>{{model.user.firstName}}&nbsp;&nbsp;&nbsp;</span>
            </a>

            <a href=href="" ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a href="" ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </div>

        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home/login">Showcity</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="#/user/">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a href="#/user/">
                <span>{{model.user.firstName}}&nbsp;&nbsp;&nbsp;</span>
            </a>

            <a href="" ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a href="" ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </div>

        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home/login">Showcity</a>
        </div>
    </div>
</nav>
<div>
    <div class="container-fluid">
        <h2>PROFILE</h2>
        <div>
            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>

            <div class="alert alert-success" ng-show="model.message">
                {{model.message}}
            </div>

            <form>
                <br>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.user.username" type="text" class="form-control" id="username"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ng-model="model.user.email" type="email" class="form-control" id="email"
                           placeholder="alice@wonderland.com">
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name"
                           placeholder="Alice">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name"
                           placeholder="Wonderland">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input ng-model="user.password"
                           type="password"
                           class="form-control"
                           id="password"

                           placeholder=""/>
                </div>

            </form>


            <a ng-click="model.update(model.user)"
               class="btn btn-success btn-block">
                Update
            </a>

            <a class="btn btn-danger  btn-block"
               href="" ng-click="model.logout()">Logout</a>

            <a ng-click="model.deleteUser(model.user)"
               class="btn btn-warning btn-block">
                Unregister
            </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a href="#/user/" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a href="#/user/actor" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>