<div>
    <div class="container-fluid">
    <h2>STATUS<a href="">
        <span class="glyphicon glyphicon-sunglasses status-button-color"></span>
    </a></h2>



        <div class="col-sm-11 panel-body">
            <div class="panel-heading">

            </div>
            <div class="well" ng-repeat="status in model.statusList">
                <div class="panel-body">
                    <div ng-if="model.selectedIndex === $index">

                        <form>

                            <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Please enter status"
                              ng-model="model.editedStatusObject.description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="media">





                        <div class="media-body">
                            <div></div><img ng-src="{{status.url}}" width="80%"/></div>
                            <br>
                            <div class="well well-sm col-sm-10">
                            <strong><p class="text-justify text-info">
                                {{status.description}}
                            </p></strong>
                            </div>
                        </div>




                        <div class="btn-group-md">
                            <a href="" class="btn btn-success" role="button"
                               ng-if="model.selectedIndex === $index"
                               ng-click="model.editStatus(model.editedStatusObject)">
                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                Update
                            </a>
                            <a href="" class="btn btn-danger" role="button"
                               ng-if="model.selectedIndex === $index"
                               ng-click="model.undoStatus()">
                                <i class="glyphicon glyphicon-erase" aria-hidden="true"></i>
                                Cancel
                            </a>
                        </div>

                        <div class="btn-group-md">
                            <a href="" class="btn btn-warning" role="button"
                               ng-if="model.selectedIndex !== $index && model.actorId == status.actorId"
                               ng-click="model.selectStatusBox($index)">
                                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                            <a href="" class="btn btn-danger" role="button"
                               ng-if="model.selectedIndex !== $index && model.actorId == status.actorId"
                               ng-click="model.deleteStatus($index)">
                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                Delete
                            </a>
                        </div>

                    </div>
                    </div>
                </div>

            <div class="well">
                <h3>Write Status</h3>

                <form action="/api/upload/"   method="post" enctype="multipart/form-data">

                    <div class="form-group">

                                <textarea ng-model="model.status.description"
                                          rows="3"
                                          placeholder="Write a status"
                                          class="form-control"
                                          id="status-description"></textarea>
                        <input  name="myFile" type="file" class="form-control"/>
                        <input  name="actorId"  value="{{model.actor._id}}"   style="display: none"/>
                        <input  name="description"  value="{{model.status.description}}"   style="display: none"/>

                        <!--<div class="form-group">
                            <a  class="btn btn-success">
                                Submit
                            </a>
                        </div>

                            -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning">
                                Upload Status
                            </button>
                        </div>

                    </div>
                </form>


            </div>
        </div>

        </div>





</div>
