<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/home">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="#/user/{{model.user._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a href="#/user/{{model.user._id}}">
                <span>{{model.user.username}}&nbsp;&nbsp;&nbsp;</span>
            </a>

            <a href="index.html#/home">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a href="index.html#/home">
                <span>Logout</span>
            </a>

        </div>

        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home/{{model.user._id}}">Showcity</a>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <input  ng-model="actor.series"
            id="series"
            type="text"
            class="form-control"
            placeholder="series"/>

    <a ng-click="model.registerActor(actor)"
       class="btn btn-primary btn-block"
    >Register Actor</a>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a href="#/user/{{model.user._id}}" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>