<div>
    <h2>Following <a href="">
        <span class="glyphicon glyphicon-eye-open following-button-color"></span>
    </a></h2>


    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="container-fluid">
            <div class="row col-sm-6 well">
                <div ng-switch="model.following_users.length">

                    <div ng-switch-when=0>


                        <p class="text-danger text-center">Sorry you are not following anyone!!</p>

                    </div>
                    <div ng-switch-default>

                        <div ng-repeat="f in model.following_users">


                            <h3><span class="glyphicon glyphicon-user"></span>
                                <a href="#/user1/secondUser/{{f._id}}">{{f.firstName}}</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


