<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="../../../index.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="#/login">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
            <a href="#/login">
                <span>Login&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            </a>
            <a href="index.html#/register">
                <span class="glyphicon glyphicon-lock"></span>
            </a>
            <a href="index.html#/register">
                <span>Sign Up</span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home">Showcity</a>
        </div>
    </div>
</nav>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>ShOwCiTy</h1>
                    <h3><div class="col-sm-8 input-group center-block">
            <span class="input-group-btn">
                <input ng-model="searchText" type="text" placeholder="Search tv show" class="form-control">

                <a ng-click="model.searchShow(searchText)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
                    </div></h3>
                    <hr class="intro-divider">

                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>