<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/home">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home">Showcity</a>
        </div>
    </div>
</nav>

    <div class="container-fluid">
        <h2>Login</h2>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <form>
            <label>Username *</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>

                <input ng-model="user.username"
                       id="username"
                       type="text"
                       class="form-control"
                       placeholder="username"/>

            </div>
            <br>

            <label>Password *</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                <input ng-model="user.password"
                       id="password"
                       type="password"
                       class="form-control"
                       placeholder="password"
                       required/>
            </div>
            <br>

            <div class="form-group">
                <a ng-click="model.login(user)"
                   class="btn btn-success btn-block"
                >Login</a>
                <br>

                <a href="/auth/facebook" class="btn btn-primary btn-block">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
        </form>
    </div>


