<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">

            <a href="">
                <span>Welcome {{model.user.username}}</span>
            </a>

        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#">Showcity</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-8 input-group center-block">
            <span class="input-group-btn">
                <input ng-model="searchText" type="text" placeholder="Search tv show" class="form-control">

                <a ng-click="model.searchShow(searchText)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
    </div>

    <div class="row container-fluid">
        <div class="panel panel-default">
            <div class="col-sm-11 ng-binding" style="..." ng-repeat="sho in model.shows">

                <img width="60%" height="10%" class="img-responsive margin-top"
                     ng-src="{{sho.show.image.original}}">

                <h2 class="ng-binding">{{sho.show.name}}
                    <div ng-switch="model.user.status">
                        <span>
                        <div ng-switch-when="like"
                             ng-click="model.setLikeStatus('unlike')">
                                <span class="glyphicon glyphicon-heart like-button-color"></span>

                        </div>
                        </span>
                        <span>
                        <div ng-switch-when="unlike"
                            ng-click="model.setLikeStatus('like')">
                                <span class="glyphicon glyphicon-heart-empty like-button-color"></span>

                        </div>
                        </span>

                    </div>

                </h2>


                <div class="caption">
                    <span class="h5 text-muted ng-binding" ng-repeat="genre in sho.show.genres">#{{genre}}&nbsp</span>
                </div>
                <i class="fa fa-clock-o ng-binding">&nbsp;{{sho.show.runtime}} min</i>
                <hr class="featurette-divider">


                <p class="ng-binding">
                <h3>Summary</h3>
                {{sho.show.summary}}</p>


                <p>Watch every {{sho.show.schedule.days[0]}} at {{sho.show.schedule.time}} hrs</p>

                <hr>
                <h3>Cast</h3>

                <!-- ng-repeat on cast -->
                <div class="col-sm-6">

                <div class="col-sm-6" ng-repeat="cast in model.cast">
                    <!--{{cast.person.name}} -->
                    <div class="container">

                        <br>
                        <div class="media">
                            <div class="media-left media-top">
                                <img class="media-object img-width" ng-src="{{cast.character.image.original}}">
                            </div>

                        </div>
                        <br>
                        <div class="media-body">
                            <h5>{{cast.person.name}} as</h5>
                            <h5>{{cast.character.name}}</h5>
                        </div>
                        <hr class="col-sm-2">

                    </div>
                </div>
                </div>
                <div class="col-sm-6 panel-body">
                    <div class="panel-heading">
                        <h4>Reviews</h4>
                    </div>
                    <div class="well" ng-repeat="review in model.reviews">
                        <div class="panel-body">
                            <div class="media">
                                <!--img u="image" ng-src="../../../img/profile-icon.png" />-->
                                <h3><span class="glyphicon glyphicon-user"></span></h3>
                                <div class="media-body">
                                    <h4 class="media-heading">{{review.title}}</h4>
                                    <p class="text-justify">
                                        {{review.description}}
                                    </p>
                                    <small>By
                                        <a ui-sref="profile.reviews({userId: review.userId})">{{review.userFirstName}}</a>

                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h3>Write Review</h3>

                        <form>
                            <div class="form-group">

                                <input ng-model="model.review.title"
                                       type="text"
                                       placeholder="title of your review"
                                       class="form-control"
                                       id="series-title"/>
                            </div>
                            <div class="form-group">

                                <textarea ng-model="model.review.description"
                                          rows="3"
                                          placeholder="Description of your review"
                                          class="form-control"
                                          id="series-description"></textarea>

                                <div class="form-group">
                                    <a ng-click="model.addReview(model.review)" class="btn btn-success">
                                        Submit
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>