<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">

            <a ng-if="model.user.role=='actor'" href="#/user/actor/">
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <a ng-if="model.user.role!='actor'" href="#/user/">
                <span class="glyphicon glyphicon-user"></span>
            </a>

            <a ng-if="model.user.role=='actor'" href="#/user/actor/">
                <span>{{model.user.firstName}}&nbsp;&nbsp;&nbsp;</span>
            </a>
            <a ng-if="model.user.role!='actor'" href="#/user/">
                <span>{{model.user.firstName}}&nbsp;&nbsp;&nbsp;</span>
            </a>

            <a href="" ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a href="" ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </div>

        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home/login">Showcity</a>
        </div>
    </div>
</nav>
<div>
    <h2>Following <a href="">
        <span class="glyphicon glyphicon-eye-open follower-button-color"></span>
    </a></h2>

    <br>

        <div class="col-sm-3"></div>

            <div ng-switch="model.following_users.length">

                <div ng-switch-when=0>


                        <p class="text-danger well text-center">User is not following anyone!!</p>

                </div>
                <div ng-switch-default>
                    <div class="container-fluid">
                        <div class="row col-sm-6 well">
                    <div ng-repeat="f in model.following_users">
                        <div ng-if="model.user._id!=f._id">
                            <h3><span class="glyphicon glyphicon-user">
                            <a href="#/user1/secondUser/{{f._id}}">{{f.firstName}}</a>
                        </span>
                            </h3>
                        </div>
                        <div ng-if="model.user._id==f._id">
                            <h3><span class="glyphicon glyphicon-user">
                            <a href="#/user/">{{f.firstName}}</a>
                        </span>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

    </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a href="#/user/" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>

