<div class="container">
    <h2>Register</h2>
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>
    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <form>
        <div class="form-group">
            <input ng-model="user.username"
                   type="text"
                   class="form-control"
                   placeholder="username"/>
        </div>
        <div class="form-group">
            <input  ng-model="user.firstName"
                    id="firstName"
                    type="text"
                    class="form-control"
                    placeholder="firstname"/>
        </div>
        <div class="form-group">
            <input  ng-model="user.lastName"
                    id="lastName"
                    type="text"
                    class="form-control"
                    placeholder="lastname"/>
        </div>
        <div class="form-group">
            <input  ng-model="user.email"
                    id="email"
                    type="text"
                    class="form-control"
                    placeholder="email"/>
        </div>
        <div class="form-group">
            <input  ng-model="user.phone"
                    id="phone"
                    type="text"
                    class="form-control"
                    placeholder="phone"/>
        </div>
        <div class="form-group">
            <input ng-model="user.password"
                   type="password"
                   class="form-control"
                   placeholder="password"/>
        </div>
        <div class="form-group">
            <input ng-model="user.confirmPassword"
                   type="password"
                   class="form-control"
                   placeholder="very password"/>
        </div>
        <div class="form-group">
            <a ng-click="model.register(user)"
               class="btn btn-success btn-block"
            >Sign Up</a>
        </div>
        <div class="form-group">
            <a class="btn btn-danger btn-block"
               href="#/login">Cancel</a>
        </div>
    </form>
</div>
