<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/home">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="index.html#/login">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
            <a href="index.html#/login">
                <span>Login&nbsp</span>
            </a>
            <a href="index.html#/register">
                <span class="glyphicon glyphicon-lock"></span>
            </a>
            <a href="index.html#/register">
                <span>Sign Up</span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand" href="#/home">Showcity</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div class="row container-fluid">
        <div class="panel panel-default">
            <div class="col-sm-11 ng-binding" style="..." ng-repeat="sho in model.shows">

                <img width="60%" height="10%" class="img-responsive margin-top"
                ng-src="{{sho.show.image.original}}">

                <h2 class="ng-binding">{{sho.show.name}}</h2>
                <div class="caption">
                    <span class="h5 text-muted ng-binding" ng-repeat="genre in sho.show.genres">#{{genre}}&nbsp</span>
                </div>
                <i class="fa fa-clock-o ng-binding">&nbsp;{{sho.show.runtime}} min</i>
                <hr class="featurette-divider">


                <p class="ng-binding">
                    <h5>Summary</h5>
                {{sho.show.summary}}</p>


                <p>Watch every {{sho.show.schedule.days[0]}} at {{sho.show.schedule.time}} hrs</p>

                <hr>
                <h5>Cast</h5>

                <!-- ng-repeat on cast -->
                <div class="col-sm-8" ng-repeat="cast in model.cast">
                    <!--{{cast.person.name}} -->
                    <div class="container">

                        <br>
                        <div class="media">
                            <div class="media-left media-top">
                                <img class="media-object img-width" ng-src="{{cast.character.image.original}}">
                            </div>

                        </div>
                        <br>
                        <div class="media-body">
                            <h5>{{cast.person.name}} as {{cast.character.name}}</h5>
                        </div>
                        <hr>

                    </div>
                </div>
                <div class="col-sm-6 panel-body">
                    <div class="panel-heading">
                        <h4>Reviews</h4>
                    </div>
                    <div class="well" ng-repeat="review in model.reviews">
                        <div class="panel-body">
                            <div class="media">
                                <!--img u="image" ng-src="../../../img/profile-icon.png" />-->
                                <h3><span class="glyphicon glyphicon-user"></span></h3>
                                <div class="media-body">
                                    <h4 class="media-heading">{{review.title}}</h4>
                                    <p class="text-justify">
                                        {{review.description}}
                                    </p>
                                    <div ng-if="review.userFirstName">
                                    <small>By
                                        <a>{{review.userFirstName}}</a>

                                    </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


</div>