<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <a href="#/user/{{model.userId}}/website"
               class="glyphicon glyphicon-chevron-left pull-left navbar-brand"></a>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new"
               class="glyphicon glyphicon-plus pull-right navbar-brand"></a>
        </div>
        <div class="col-sm-8 col-xs-12">
            <a href="#/user/{{model.userId}}/website"
               class="glyphicon glyphicon-chevron-left pull-left navbar-brand visible-xs"></a>
            <a ng-click="model.createPage(page)" class="glyphicon glyphicon-ok pull-right navbar-brand"></a>
            <div class="navbar-header">
                <a class="navbar-brand no-left-margin">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="page in model.pages">

                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>

                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 col-xs-12 wbdv-right-pane">
        <form>
            <div class="form-group">
                <label for="page-name">Name</label>
                <input ng-model="page.name"
                       type="text"
                       placeholder="Page Name"
                       class="form-control"
                       id="page-name"/>
            </div>
            <div class="form-group">
                <label for="page-title">Title</label>
                <input ng-model="page.description"
                       type="text"
                       placeholder="Page Title"
                       class="form-control"
                       id="page-title"/>
            </div>
        </form>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">

        <a href="#/user/{{model.userId}}" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>
